header {
  background: rgb(64, 47, 168);
  font-family: fantasy, cursive, Georgia; 
  font-size: 35px;
  color:  antiquewhite;
  text-align: center;
  line-height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 250px;
  }

  /*h4 {
    font-style: italic;  
  }--leave out*/

  h3 {
    font-family: serif, Arial, Helvetica, sans-serif;
    text-align: center;
  }

/*listed multiple font-family names for different web browsers*/
  p {
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  main {
    background: rgba(250, 235, 215, 0.26);
    border-radius: 0%;
    padding: 100px; 
  }
/*L-O-V-E-H-A-T-E for styling links*/
 a:link {color: blue;}
 a:visited {color: rgb(212, 74, 97);}
 a:hover {color: rgb(144, 214, 40);}
 a:active {color: rgb(12, 141, 12);}

 footer {
   background: rgb(64, 47, 168);
   font-family: serif;
   color:  antiquewhite;
   text-align: center;
   padding-top: 25px;
  padding-bottom: 25px;
 }
/*wraps around the content inside header, main, and footer*/
 .wrapper {
   width: 500px;
   margin: auto;
 }
